

.silvio_photo {
  height: 50%;
  width: 50%;
  margin-left:25%;
  margin-right: 25%; 
}

.p1_title {
	text-align: center;
}

.container-fluid {
	padding: 20px;
}
.comm_photo{
  width:80%;
  margin-left:10%;
  margin-right: 10%; 
  margin-top:12px;
  border-radius: 15px;
}

.comm_photo:hover {
  opacity: 0.5;
  border: solid purple 2px;
}