/* Some custom CSS*/

.project_title {
	text-align: left;
	font-size:22px;
}

.comm_photo{
  margin-top:12px;
  border-radius: 15px;
}

.loteria_img {
	width:60%;
	margin-left:20%;
	margin-right:20%;
}

.loteria_img:hover {
  opacity: 0.5;
  border: solid purple 2px;
}

.comm_img .randomizer_img .power_img {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}
.comm_img:hover .randomizer_img:hover .power_img:hover {
  opacity: 0.5;
  border: solid purple 2px;
}